.el-dialog__body {
  padding: 20px;
}

.el-dialog__header {
  padding: 13px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}

.el-dialog__title {
  line-height: 24px;
  font-size: 18px;
  color: #03bdd6;
}
